@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    border: 2px;
    border-radius: 16px;
    margin: 12px 3px;
    font-family: 'Merriweather', serif;

}


.one {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), 
    url('../resources/Banner Image.png');
    width: 100%;
    max-width: 1600px;
    height: 95%;
    border-radius: 16px;
    background-repeat: no-repeat;
    margin-top: 35px;
}


.t-one {
    padding: 180px;
}


.two {
    margin-top: 35px;
}

#eleven {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#twelve {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;

}

#thirteen {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#fourteen {
    color: #F00;
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#fifteen {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#sixteen {
    width: "803" height="500" viewBox="0 0 803 500" fill="none";
    display: grid;
    place-items: center;
}

.three {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../resources/Vectorrr.png');
    width: 100%;
    max-width: 1600px;
    height: 95%;
    border-radius: 16px;
    background-repeat: no-repeat;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .two {

    margin-top: 35px;
    max-width: 609px;
    padding-left: 126px;
}

#b-two {
    background-color: #070211;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.banner .banner-img {
    width: 33%;
    padding: 40px;

}

#hello {
    color: #FFF;

    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

#hiiii {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.time {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

span {
    color: #F00;

}

#location {
    background-color: #F00;
    color: #FFF;
}

.date {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    width: 100%;
    max-width: 1600px;
    height: 95%;
    margin-top: 35px;
    background-repeat: no-repeat;


}

.new {
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    margin-top: 35px;


}

#new2 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: justify;
}

#new3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    text-align: justify;
}

#new4 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: justify;
    /* 160% */
}

#new5 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

#new6 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */

}

.n-new {
    border-radius: 463px;
    border: 12px solid #F00;
    margin-bottom: 15px;
}

.new1 {
    text-align: center;
    padding-top: 50px;
}

.n1-new {
    text-align: center;
    padding-top: 50px;
}

.ten {
    margin-top: 35px;
}

#ten1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#ten2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#ten3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.ten-12 {
    display: flex;

}

.fif1:hover {
    background-color: #F00;
    transform: scale(1.1);


}

.ten-13 {
    display: flex;
}



.twenty {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 35px;
}

.twenty1 {
    text-align: center;
}

.twenty2 {
    text-align: center;
    border-radius: 50px;
    background: #FFF;
}

#t20 {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

#t21 {
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#t22 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

#t24 {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    margin-left: -85px;
    color: #FFF;

}

.thr {
    background: #070211;
    margin-top: 35px;
    margin-bottom: 35px;
}


.th {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: none;

}


.th1 {

    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.th2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}


.thr1 {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;


}


#th5 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#th6 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}